.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: var(--bg-img-home);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 8rem;
    
    .home-title{
        font-size: 3rem;
        color: var(--accent-color);
        text-align: left;
        
    }

    .cta-cv {
        .btn-cv {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: auto;
            gap: 0.5em; 
            padding: 0.5em 1.2em;
            font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
            font-size: 1.3rem;
            font-weight: 700;
            border: 3px solid transparent;
            border-radius: 15px;
            background:linear-gradient(90deg, var(--bg-btn-cv-start), var(--bg-btn-cv-end)) padding-box,linear-gradient(90deg, var(--border-btn-cv-start), var(--border-btn-cv-end)) border-box;
            background-origin: border-box;
            background-clip: padding-box, border-box;
            color: #ffffff;
            cursor: pointer;
            transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
            text-decoration: none;

        &:hover {
            transform: scale(1.05);
        }

            .download-icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }  
}