    .skills{
        font-size: 1rem;
        padding-block: 3rem;
        gap: 8rem;
        display: flex;
        flex-direction: column;
    
    .skills-container {
        display: flex;
        justify-content: center;
        gap: 5rem;

        .skills-item {
            border: 3px solid transparent;
            border-radius: 15px;
            background: linear-gradient(var(--bg-color-1), var(--bg-color-1)) padding-box,var(--nav-border-color) border-box;
            background-origin: border-box;
            background-clip: padding-box, border-box;
            color: var(--text-color);
            cursor: pointer;
            transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
            width: 30rem;
            height: 34rem;
            box-shadow: #b8b8b8 0px 4px 15px 10px;

            .ruby-icon{
                width: 5rem;
                padding-top: 1rem;
            }

        &:hover {
            transform: scale(1.05);
        }

            h3 {
                color: var(--text-color);
                font-size: 2rem;
                text-align: center;
                margin-bottom: 1rem;
            }
            .skill-list {
                padding: 2rem; 

                

            }
            .soft-skills{
                padding: 0;
                margin: 0;
                
                li{
                    font-weight: 700;
                    font-size: 1rem;
                    padding-top :0.5rem
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .skills{
        gap: 2rem;
        .skills-container {
            flex-direction: column;
            align-items: center;

            .skills-item {
                width: 80%;
                height: auto;
                
                h3{
                    font-size: 1.1rem;
                }
                
                .skill-list{
                    padding: 0.5rem;
                }

                .logos-slide img{
                    height: 40px;
                }
            }
        }
        iframe{
            width: 90%;
            height: auto;
            height: 16rem;

            .c-hOoPCq{
                display: none;
            }
        }
    }
    
}