backend/.env
backend/.env.*
backend/.env.local


frontend/.env
frontend/.env.*
frontend/.env.local

# Dépendances
backend/node_modules/
frontend/node_modules/

# Build
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
.vscode/