.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 70%;

    .top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        border: 3px solid var(--text-color);
        border-radius:20px;
        padding: 0.5rem;
        
        .project-header-left {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 1rem;
            padding:2rem 4rem;
            width: 50%;

            > p, > h2 {
                padding: 0;
                margin: 0;
                font-size: 1.1rem ;
                font-weight:bold;
            }
        }
         
        .project-header-right {
            display: flex;
            flex-direction: column;
            text-align: right;
            align-items:flex-end;
            gap: 2rem;
            padding-inline: 4rem;
            width: 50%;
            
            .link-container.website{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .internet-logo {
                    width: 4rem;
                }
            }

            .link-container.github {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }

            a > p {
                padding: 0;
                margin: 0;
                font-size: 1.1rem ;
                font-weight:bold;
            }
        }
    }
}

.bottom-container {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    padding: 6rem 20rem !important;
    width: 75%;

    .collapse-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (width >=1250) {
    .bottom-container {
        width: 50%;
    }
    
}

@media screen and (width <=425px) {
    .collapse-header-title {
        font-size: 13px !important;
    }

    .collapse-header-icon {
        font-size:16px !important;
    }

    .housing-equipments-list {
        font-size: 12px !important;
    }

    .housing-description-p {
        font-size: 12px !important;
    }
    
}

